doctype 5
html(lang="en")
  head
    block head 
  body
    h1 #{repo} #{since}..#{until}
    form(method='get') 
      select(name='since')
        each tag in tags
          if tag === since
            option(value='#{tag}', selected='selected') #{tag}
          else 
            option(value='#{tag}') #{tag}
      | ..
      select(name='until')
        each tag in tags
          if tag === until
            option(value='#{tag}', selected='selected') #{tag}
          else 
            option(value='#{tag}') #{tag}
      button(type='submit') Update
    block content
    a(href='http://github.com/#{repo}/compare/#{since}...#{until}',
      title='View on GitHub') 
      img(src='/img/GitHub-Mark-32px.png')
